<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
        
<mapper namespace="com.myweb.game.model.GameMapper">

 	<insert id="scrapScheduleKBO" parameterType="com.myweb.game.model.GameDTO">
		INSERT 
		INTO GAMES(GAME_ID, GAME_DATE, TEAM_A, TEAM_B, GAME_RESULT)
		VALUES (#{gameId}, #{gameDate}, #{teamA}, #{teamB}, #{gameResult}) 
	</insert> 
	
	<select id="getSoccer" resultType="com.myweb.game.model.GameDTO">
		SELECT * FROM GAMES WHERE (GAME_ID LIKE '1%') AND (GAME_DATE >= SYSDATE)
	</select>
	<select id="getBase" resultType="com.myweb.game.model.GameDTO">
		SELECT * FROM GAMES WHERE (GAME_ID LIKE '2%' OR GAME_ID LIKE '3%') AND (GAME_DATE >= SYSDATE)
	</select>
	<select id="getBasket" resultType="com.myweb.game.model.GameDTO">
		SELECT * FROM GAMES WHERE (GAME_ID LIKE '4%') AND (GAME_DATE >= SYSDATE)
	</select>
	<select id="getGaming"> <!-- 경기일자 4일 전 <= 오늘 날짜 <= 1일 전 (=예측 진행 중인 경기), 해당 경기 모두 가져오기 -->
		SELECT * FROM GAMES WHERE SYSDATE BETWEEN GAME_DATE-4 AND GAME_DATE-1
	</select> 

	
	
</mapper>