<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	모든 내용은 mapper 폴더 안으로 들어감
	namespace 에는 구현인터페이스의 풀경로가 들어감
	id 속성은 인터페이스의 함수명이 들어감 
	resultType 속성은 반환 받을 타입이 들어감(string, int, double, dto풀경로)
	; 찍지 않음
	마이바티스의 매개변수는 일단 꼭 1개여야만 함
	parameterType에는 매개변수의 타입이 들어감(string, int, double, dto풀경로)
	단 parameterType은 생략가능
	?값 == #{DTO의 getter명}(대소문자 구분함)
	?가 단일값인 경우는 #{매개변수명}
-->
<mapper namespace="com.myweb.user.model.UserMapper">
	<select id="findId" parameterType="com.myweb.user.model.UserDTO" resultType="string">
		SELECT ID FROM MEMBER WHERE NAME = #{name} AND PHONE = #{phone}
	</select>
	<select id="getUserById" parameterType="string" resultType="com.myweb.user.model.UserDTO">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>
	<select id="getUserByNick" parameterType="string" resultType="com.myweb.user.model.UserDTO">
		SELECT * FROM MEMBER WHERE NICK = #{nick}
	</select>
	<select id="checkPhone" parameterType="string" resultType="com.myweb.user.model.UserDTO">
		SELECT * FROM MEMBER WHERE PHONE = TO_NUMBER(#{phone})
	</select>
	<select id="getUserList" resultType="com.myweb.user.model.UserDTO">
		SELECT * FROM (SELECT * FROM MEMBER WHERE GRADE_ID != 11 ORDER BY POINT DESC) WHERE ROWNUM BETWEEN 1 AND 10
	</select>
	<select id="getRankByRN" parameterType="hashMap" resultType="com.myweb.user.model.UserDTO">
		SELECT * FROM (SELECT ROWNUM RN, M.* FROM (SELECT * FROM MEMBER A WHERE A.GRADE_ID != 11 ORDER BY POINT DESC) M) WHERE RN BETWEEN #{first} AND #{second}
	</select>
	<select id="getUserCnt" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE GRADE_ID != 11
	</select>

	<select id="getDateByAttendance" parameterType="string">
		SELECT A_DATE FROM ATTENDANCE WHERE NICK=#{nick}
	</select>

<!--	<select id="getPointList" parameterType="string" resultType="com.myweb.game.model"-->

	<update id="updatePw" parameterType="com.myweb.user.model.UserDTO">
		UPDATE MEMBER SET PW = #{pw} WHERE ID = #{id}
	</update>
	<update id="changeNick" parameterType="com.myweb.user.model.UserDTO">
		UPDATE MEMBER SET NICK = #{nick} WHERE ID = #{id}
	</update>
	<update id="setPoint" parameterType="com.myweb.user.model.UserDTO">
		UPDATE MEMBER SET POINT = #{point} WHERE ID = #{id}
	</update>
	<update id="updateGrade" parameterType="com.myweb.user.model.UserDTO">
		UPDATE MEMBER SET GRADE_ID = #{gradeId} WHERE ID = #{id}
	</update>

	<update id="updateAttendanceDate" parameterType="string">
		MERGE INTO ATTENDANCE A USING DUAL ON (A.NICK=#{nick})
		WHEN MATCHED THEN UPDATE SET A_DATE=SYSDATE WHERE NICK=#{nick}
		WHEN NOT MATCHED THEN INSERT VALUES(#{nick}, SYSDATE)
	</update>

	<insert id="createUser" parameterType="com.myweb.user.model.UserDTO">
		INSERT INTO MEMBER VALUES (#{id}, #{pw}, #{pwq}, #{pwa}, #{name}, #{bDate}, #{gender}, #{phone}, #{nick}, 500, 1, SYSDATE)
	</insert>

	<delete id="deleteUser" parameterType="string">
		DELETE FROM MEMBER WHERE ID=#{id}
	</delete>
</mapper>