@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

* {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{background-color: #fff0f3;}

.container{width: 930px}

.item {
    width: 100%;
    margin: 0 auto;
}
.item h3 {
   font-weight: 900;
   margin: 80px 0;
}

/* 카테고리 */
.category {
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: white;
    margin-bottom: 50px;
}
.form-control {
	height: 100%;
}
.form-control:focus {
    border-color: #777;
    box-shadow: none;
}
.form-control > option {
	font-size: 15px;
}



/* 제목 */
.item .title {
    font-size: 15px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100%;
    height: 34px;
    background-color: white;
    margin-bottom: 50px;
}
.title > #text-bar {
    border: none;
    width: 100%;
    height: 24px;
    margin-top: 5px;
}
.title > #text-bar {
    box-shadow: none;
}


/* 내용 */
.item .content {
    width: 100%;
}

.content > textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #777;
    border-radius: 5px;
    resize: none;
    font-size: 15px;
    padding: 10px;
}

/* 취소, 등록 버튼 */
.item {overflow: hidden;}
.item .right {
    float: right;
    margin-top: 30px;
}

/* 취소 */
.right > input:nth-child(1) {
    background-color: #e5e5e5;
    width: 100px;
    height: 30px;
}

/* 등록 */
.right > input:nth-child(2) {
    background-color: #8ecae6;
    width: 100px;
    height: 30px;
}





