@import url(default.css);


.container {
    display: flex;
    flex-direction: column;
    width: 930px;
    min-height: 930px;
    background-color: antiquewhite;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}

.item1 {
    overflow: hidden;
    width: 100%;
    height: 140px;
    border-bottom: 2px solid #000;
}


/* ======= 글 작성하기 ======= */
.write {
    float: left;
    width: 125px;
    height: 40px;
    background-color: white;
    margin-top: 10px; 
}
.write > input {
    border: 2px solid #777;
    border-radius: 5px;
    width: 125px;
    height: 40px;
    background: url("../img/pen.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    text-align: right;
}
.write > a:hover {
    color: white;
}
.write > a > img {
    margin: 0 0 5px 5px;
}
.write > a > p {
    display: inline;
    color: #000;
    font-size: 15px;
    line-height: 40px;
}



/* ======= 검색바 ======= */
#search {float: left; margin-left: 145px; margin-top: 10px;}
#search-bar {
    overflow: hidden;
    border: 2px solid #777;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    background-color: white;
}
#search-bar > .btn {
    float: left;
    border: none;
    width: 24px;
    height: 24px;
    background-image: url("../img/search.png");  
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 7px 3px;
    background-color: white;
}
#search-bar > input {
    float: left;
    border: none;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
}

/* ======= 글 정렬 ======= */
.sort {
    float: right;
    border: 2px solid #777;
    border-radius: 5px;
    width: 125px;
    height: 40px;
    background-color: white;
    margin-top: 10px;
}
.sort > img {
    margin: 2px 5px 0 5px;
}
.sort > button {
    border: none;
    background-color: white;
    margin-left: 15px;
}
.sort > ul {
    min-width: 120px;
    margin: 0;
}
.sort > ul > li > a > img {
   margin-right: 20px;
}


/* 카테고리 버튼 */
.category {
	width: 300px;
	height: 50px;
	background-color: antiquewhite;
	border: none;
}
.category > button {
	margin-top: 30px;
	border: 1px solid #777;
	border-radius: 5px;
	width: 50px; 
	height: 30px;
	background-color: white;
	line-height: 30px;
	text-align: center;
	padding-right: 1px;
}
 
.category > button img {
	width: 16px;
	height: 16px;
}




/* ===== 게시글 ===== */
.item2 {
    width: 100%;
    height: 75px;
    border-bottom: 3px solid #000;
    padding: 0;
}


.top {margin: 5px;}
/* 작성자 이름 */
.top > a {
    color: #000;
    font-size: 15px;
    
} 
/* 작성시간 */
.top > span {
    font-size: 12px;
}


.item2 .bottom {
	overflow: hidden;
	margin: 5px;
	height: 30px;
}
.item2 .bottom .left {
	float: left;
	width: 750px;
	height: 30px;
	
}
.item2 .bottom .right {
	float: right;
	width:100px;
	height: 20px;
	padding-top: 10px;
}

/* 카테고리 */
.bottom .left > a > .truncate {
    color: #000;
    font-size: 20px;
    margin: 0 30px 0 10px;
}

/* 글 제목 */   
.bottom .left > a:nth-child(2) {
    color: #000;
    font-size: 30px;
}

/* 조회수 */
.bottom .right .hits {
    display: inline-block;
} 
.bottom .right .comments {
    display: inline-block;
}
.bottom .right .good {
    display: inline-block;
}


/* 이전, 중앙, 다음 페이지 버튼 */
.pager > li > a {
	background-color: antiquewhite;
	border: 0px;
}
.pager > li > a:hover,
.pager > li > a:focus {
	text-decoration: none;
	background-color: antiquewhite;
	color: blue;
}

/* 생략 표시 */
.pager .disabled > span {
	border: 0;
	background-color: antiquewhite;
}

/* 현재 페이지 버튼 */
.pager .active a:visited {
	color: blue;
}