@import url(default.css);

.findPw-wrap{
	width: 1400px;
	height: 650px;
	margin: 0 auto;
	position: relative;
    overflow: hidden;
}
.findPw_wrap{
	position: absolute;
	top: 160px;
	left: 450px;
	padding: 30px;
	width: 500px;
	height: 330px;
	background-color: rgb(241, 215, 181);
	
	text-align: center;
	
}
.findPw_wrap > .findPw_form, .QnA_form {
	margin-top: 35px;
	padding: 10px;
    overflow: hidden;
}
.resetPw_form{
	padding: 10px;
    overflow: hidden;
}
#findPw_find, #QnA_submit, #resetPw {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.QnA_Q{
	font-size: 26px;
	margin-bottom: 10px; 
}
.QnA-area {
	height: 60px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px; 
}
.QnA-area .QnA_input {
	width: 100%; height: 100%;
	text-align: center;
	font-size: 20px;
}
