@import url(default.css);

.findId-wrap{
	width: 1400px;
	height: 650px;
	margin: 0 auto;
	position: relative;
    overflow: hidden;
}
.white-background{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	opacity: 0.4;	
}
.findId_wrap{
	position: absolute;
	top: 160px;
	left: 450px;
	
	padding: 30px;
	width: 500px;
	height: 330px;
	background-color: rgb(241, 215, 181);
	
	text-align: center;
}
.toggle-btn{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.toggle-btn button{
	width: 50%;
	height: 30px;
	font-size: large;
	background-color: rgb(241, 215, 181);
	line-height: 35px;
}
.toggle-btn button:hover{
	color: goldenrod;
}
.findId_wrap > .findId_form {
	margin-top: 35px;
	padding: 10px;
    overflow: hidden;
}
.findId-area {
    display: block;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 60px;
}
#findId_find {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.findId-area {
    background-color: white;
    text-align: left;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
}
.p-findId {
    display: block;
    font-size: 30px;
    color: #777676;
    position: absolute;
    top : 10px;
    transition: font-size 0.3s ease-in-out;
}
.findId_input {
    height: 30px;
    position: absolute;
    bottom:0px;
    transition: height 0.3s ease-in-out;
    margin-bottom: 5px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s;
}
.findId_input:focus + .p-findId {
    font-size: 10px;
}
.findId_input:focus {
    height: 30px;
    font-size: 30px;
    outline: none;
    opacity: 1;
}
.focus {
    height: 30px;
    font-size: 30px;
    outline: none;
    opacity: 1;
}
.findId_form > #findId_find:hover {
    background-color: rgba(87, 81, 74, 0.226);
    color:white;
    box-shadow: inset;
}

/* findid02 */
.findId_wrap h1 {
	margin-top: 30px;
}
.id_area{
	width: 420px;
	margin: 0 auto;
	margin-top: 30px;
	height: 50px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.id_area input, .id_area button{
	height: 100%;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	
}
.id_area input{
	width: 355px;
}
.id_area button {
	width: 60px;
}
.btnToLogin{
	width: 420px;
    margin-top: 30px;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}


