@import url(default.css);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.game-date-header {margin: 0 auto; margin-top: 120px;}

.game-date-header > .wrap {
    width: 1080px;
    margin: 0 auto;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    overflow: hidden;
}   
/* .header .wrap .left {float: left;}
.header .wrap .right {float: right;} */


/* 좌상단 카테고리 버튼, 드롭다운 메뉴*/

.top-left .dropdown {
    position: relative;
    display: inline-block;
}
.drop_btn {      
    float: left;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: #f5f5f5;
    font-size: 15px;
    font-weight: bold;
    width: 100px; 
    height: 40px;
    margin: 0 0 0 50px;
    cursor: pointer;    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 1;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 90px;
    height: 80px;
    text-align: center;
    padding: 5px;
}

.dropdown-content .icon {
    display: inline;
    
}

.dropdown-content a {
    display: block;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* --------------------------------------------- */



.mid-right {
	width: 100%;
}
/* 우측 경기날짜, 시간, 경기, 비고 박스 */
.mid-right .mid-top {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 15px;
    margin : 20px;
    margin-left: 50px;
    width: 980px;
    height: 50px;
    background-color: white;
}   

.mid-right .mid-top ul li {
    display: inline-block;
    width: 321px;
    line-height: 50px;
    font-size: 15px;
    /* border-right: 1px solid #999; */ 
    box-sizing: border-box;     
    text-align: center;
}
.mid-right .mid-top ul li:nth-child(3){
	border: none;
}

/* ---------------------------------------------- */




.mid-right .mid-bottom {
    border: 1px solid #999;
    border-radius: 15   px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 980px;
    max-height: 370px;
    overflow-y: auto;
    background-color: white;
}
/* 테이블 박스 */
.mid-right .mid-bottom table tr td {
    border: 1px solid #999;
    width: 325px;
    height: 60px;
    text-align: center;
    background-color: white;    
   
}

/* --------------------------------------------- */
