@import url(default.css);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.game-date-header {margin: 0 auto; margin-top: 120px;}

.game-date-header > .wrap {
    width: 1080px;
    margin: 0 auto;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    overflow: hidden;
}   

/* 축/야/농 메뉴 */

.sportMenu{
   width: 100px;
   height: 40px;
   margin-left: 50px;
   background-color: #f5f5f5;
   border: 1px solid #777;
   overflow: hidden;
}
.sportMenu > ul {
   width: 310px;
   height: 40px;
}
.sportMenu > ul > li {
   display: inline-block;
   width: 100px;
   height:40px;
   line-height: 40px;
   text-align: center;
}
.sportMenu:hover {
   width: 310px;
   transition: 0.5s ease-in-out;
}


/* --------------------------- */

.mid-right {
	width: 100%;
}
/* 우측 경기날짜, 시간, 경기, 비고 박스 */
.mid-right .mid-top {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 15px;
    margin : 20px;
    margin-left: 50px;
    width: 980px;
    height: 50px;
    background-color: white;
}   

.mid-right .mid-top ul li {
    display: inline-block;
    width: 321px;
    line-height: 50px;
    font-size: 15px;
    /* border-right: 1px solid #999; */ 
    box-sizing: border-box;     
    text-align: center;
}
.mid-right .mid-top ul li:nth-child(3){
	border: none;
}

/* ---------------------------------------------- */




.mid-right .mid-bottom {
    border: 1px solid #999;
    border-radius: 15   px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 980px;
    max-height: 370px;
    overflow-y: auto;
    background-color: white;
}
/* 테이블 박스 */
.mid-right .mid-bottom table tr td {
    border: 1px solid #999;
    width: 325px;
    height: 60px;
    text-align: center;
    background-color: white;    
   
}

/* --------------------------------------------- */
