@import url(default.css);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.game-date-header {margin: 0 auto;}

.game-date-header > .wrap {
   border-radius: 0px;
   background-color: white;
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}   

/* 축/야/농 메뉴 */

.sportMenu{
   width: 100px;
   height: 50px;
   margin-top: 50px;
   margin-left: 70px;
   overflow: hidden;
   font-size:20px;
   
}
.sportMenu > ul {
   width: 400px;
   height: 50px;
   
}
.sportMenu > ul > li {
   display: inline-block;
   width: 100px;
   height:50px;
   line-height: 50px;
   text-align: center;
   
}
.sportMenu:hover {
   width: 400px;
   font-size:30px;
   /* border:1px solid black; */
    transition: 0.5s ease-in-out; 
    
   
}

/* --------------------------- */


.right {
   width: 100%;
   text-align: center;
}
.right .mid-right {
   width: 1300px;
   margin-left: 50px;
}
/* 우측 경기날짜, 시간, 경기, 비고 박스 */
.mid-right .mid-top {
    display: inline-block;
    border-top: 1px solid #999; 
    border-bottom: 1px solid #999; 
    margin-bottom: 20px;
    /* margin-left: 50px; */
    width: 100%;
    height: 50px;
    background-color: white;

    
}   

.mid-right .mid-top ul li {
    display: inline-block;
    width: 33%;
    line-height: 50px;
    font-size: 20px;
    /* border-right: 1px solid #999; */ 
    box-sizing: border-box;     
    text-align: center;
    margin:0;
}

/* ---------------------------------------------- */




.mid-right .mid-bottom {
    /* margin-left: 50px; */
    margin-bottom: 20px;
    width: 100%;
    min-height: 650px;
    max-height: 650px;
    overflow-x: none;
    overflow-y: auto;
    background-color: white;
    
}
/* 테이블 박스 */
.mid-right .mid-bottom table tr td {
    border: 1px solid #999;
    width: 445px;
    height: 60px;
    text-align: center;
    background-color: white;    
   line-height:60px;
}
.game-match {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    box-sizing: content-box;
}
.mid-right .mid-bottom table tr td:nth-child(3) > img {
    display: inline-block;
   width: 50px;
   height: 50px;
   margin: 0 5px;
}

/* --------------------------------------------- */
