@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../img/balls.jpg");
}

ul, li, ol, dl, dd {list-style: none;}
img {max-width: 100%; height: auto;} /* height가 넓이에 따라 가도록 한다. */
input {border:none; outline: none;}
input[type="submit"] {cursor: pointer;}
button {border: none; cursor: pointer;}
a {text-decoration: none; color: black}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}
.header {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    padding: 0px 15px 0px 7.5px;
    /*overflow: hidden;*/
    background-color: white;
    position: relative;
}
/* 로고 */
.header .left {
    width: 240px; height: 100px;
    float: left;
}
.header .left #logo{
    margin-top: 7.5px;
    width: 100%; height: 85px;
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    text-indent: -999px;
}
/* 메뉴바 */
.header .center {
    float: left;
    margin-left: 15px;
    width: 920px;
    height: 100px;
    line-height: 100px;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    background-color: antiquewhite;
}
.header .center .menu-wrap {
    width: 700px; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .center .menu {
    display: inline-block;
    width: 120px;
    text-align: center;
}
.header .center .menu a {
    font-size: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
}
.header .center .menu a:hover{
    color: goldenrod;
}

/* 로그인 회원가입 */
.header .right {
    float: right;
    width: 200px; height: 100px;
    /*overflow: hidden;*/
}
.right .auth-btn {
    text-align: right;
    width: 100%;
    gap: 10px;
}
.right .auth-btn .btn {
    background: none;
    color: #777;
    cursor: pointer;
}
.right .auth-btn .btn:hover {
    color: black;
}
#myInfo {
    margin-top: 18px;
    margin-right: 12px;
    height: 40px;
    overflow: hidden;

}
#myInfo > .float{
    float: right;
}
#myInfo > .float > .grade{
    width: 40px;
    height: 40px;
    background-image: url(../img/grade.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    text-indent: -999px;
}
#myInfo .float p{
    height: 20px;
    font-size: 15px;
    margin: 0;
}
@keyframes blink {
    0% {
        color: #000;
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    }
    25% {
        color: #f00; /* 빨간색 */
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    }
    50% {
        color: #0f0; /* 초록색 */
        text-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
    }
    75% {
        color: #00f; /* 파란색 */
        text-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    }
    100% {
        color: #000;
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    }
}
@keyframes fadeEffect {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
.rank-1 { color: #ff0000; text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5); } /* 레드 */
        .rank-2 { color: #ff5500; text-shadow: 2px 2px 4px rgba(255, 85, 0, 0.5); } /* 오렌지 */
        .rank-3 { color: #ffaa00; text-shadow: 2px 2px 4px rgba(255, 170, 0, 0.5); } /* 노란색 */
        .rank-4 { color: #aaff00; text-shadow: 2px 2px 4px rgba(170, 255, 0, 0.5); } /* 연두색 */
        .rank-5 { color: #00ff00; text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.5); } /* 그린 */
        .rank-6 { color: #00ffaa; text-shadow: 2px 2px 4px rgba(0, 255, 170, 0.5); } /* 청록색 */
        .rank-7 { color: #00aaff; text-shadow: 2px 2px 4px rgba(0, 170, 255, 0.5); } /* 블루 */
        .rank-8 { color: #5500ff; text-shadow: 2px 2px 4px rgba(85, 0, 255, 0.5); } /* 퍼플 */
        .rank-9 { color: #aa00ff; text-shadow: 2px 2px 4px rgba(170, 0, 255, 0.5); } /* 핑크 */
        .rank-10, .rank-11 { color: #b8860b; text-shadow: 3px 3px 6px rgba(184, 134, 11, 0.8); } /* 다크 골드 */
#myInfo .name{
	animation: fadeEffect 2s infinite;
    text-align: center;
}
#myInfo .joinMsg{
    margin-top: 10px;
    animation: blink 2s infinite;
    cursor: pointer;	
}
#myInfo .point{
    text-align: right;
}
/*모달 팝업 영역 스타일링*/
.modal {
    /*팝업 배경*/
    display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:100px; left: 0;
    width: 1400px;
    height: 1265px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 200;
}
.modal.on {
    display: block;
}
.modal .modal_popup {
    /*팝업*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    align-items: center;

}
.modal .modal_popup .modal-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal .modal_popup .close_btn {
    margin-top: 10px;
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    max-width: 50%;
    min-width: 30%;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal .modal_popup canvas {
    margin-top : 10px;
    transition: 2s;
}

.modal .modal_popup .close-btn:active {
    background: #444;
    color: #f9f9f9;
}

.modal .modal_popup #menu {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align : center;
    flex-direction: column;
    position: relative;
}

.modal .modal_popup #menu::before {
    margin-top : 10px;
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
}