@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../img/balls.jpg");
}

ul, li, ol, dl, dd {list-style: none;}
img {max-width: 100%; height: auto;} /* height가 넓이에 따라 가도록 한다. */
input {border:none; outline: none;}
input[type="submit"] {cursor: pointer;}
button {border: none; cursor: pointer;}
a {text-decoration: none; color: black}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}
.header {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    padding: 0px 15px 0px 7.5px;
    overflow: hidden;
    background-color: white;
}
/* 로고 */
.header .left {
    width: 240px; height: 100px;
    float: left;
}
.header .left #logo{
    margin-top: 7.5px;
    width: 100%; height: 85px;
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    text-indent: -999px;
}
/* 메뉴바 */
.header .center {
    float: left;
    margin-left: 15px;
    width: 920px;
    height: 100px;
    line-height: 100px;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    background-color: antiquewhite;
}
.header .center .menu-wrap {
    width: 700px; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .center .menu {
    display: inline-block;
    width: 120px;
    text-align: center;
}
.header .center .menu a {
    font-size: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
}
.header .center .menu a:hover{
    color: goldenrod;
}

/* 로그인 회원가입 */
.header .right {
    float: right;
    width: 200px; height: 100px;
    overflow: hidden;
}
.right .auth-btn {
    text-align: right;
    width: 100%;
    gap: 10px;
}
.right .auth-btn .btn {
    background: none;
    color: #777;
    cursor: pointer;
}
.right .auth-btn .btn:hover {
    color: black;
}
#myInfo {
    margin-top: 18px;
    margin-right: 12px;
    height: 40px;
    overflow: hidden;

}
#myInfo > .float{
    float: right;
}
#myInfo > .float > .grade{
    width: 40px;
    height: 40px;
    background-image: url(../img/grade.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    text-indent: -999px;
}
#myInfo .float p{
    height: 20px;
    font-size: 15px;
    margin: 0;
}
#myInfo .name{
    text-align: center;
}
#myInfo .point{
    text-align: right;
}
/*모달 팝업 영역 스타일링*/
.modal {
    /*팝업 배경*/
    display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:100px;
    left:0;
    width: 1400px;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}
.modal.on {
    display: block;
}
.modal .modal_popup {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;

}
.modal .modal_popup .modal-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal .modal_popup .close_btn {
    margin-top: 10px;
    display: block;
    padding: 10px 20px;
    background-color: rgb(116, 0, 0);
    border: none;
    border-radius: 5px;
    max-width: 50%;
    min-width: 30%;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal .modal_popup canvas {
    margin-top : 10px;
    transition: 2s;
}

.modal .modal_popup .close-btn:active {
    background: #444;
    color: #f9f9f9;
}

.modal .modal_popup #menu {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align : center;
    flex-direction: column;
    position: relative;
}

.modal .modal_popup #menu::before {
    margin-top : 10px;
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
}