@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gugi&display=swap');
@import "default.css";
/* 스와이퍼 */
.swiper {
    width: 1400px; /* 가로길이 1400px */
    height: 500px; /* 원하는 높이 설정 */
    background-color: white;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
}
.white-background{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    opacity: 0.4;
}
.vs {
    position: absolute;
    top: -50px;
    left: 650px;
    width: 100px;
    line-height: 700px;
}
.teamA, .teamB{
    position: absolute;
    top: 100px;
    width: 300px;
    height: 300px;
    display: flex; justify-content: center; align-items: center;
}
.teamA {
    left: 230px;
}
.teamB {
    right: 230px;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
.swiper-button-next,
.swiper-button-prev {
    color: white; /* 버튼 색상 설정 */
    opacity: 0.6;
}

/* 경기일정, 리그순위 */
.main-box {
    width: 1400px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* 1층 */
.main-box .main-community{
    width: 670px;
}
.main-box .sport-rank{
    width: 670px;
}


/* 2층 */
.main-box .main-user-rank{
    width: 440px;
}
.main-box .podium{
    width: 440px;
}
.main-box .sport-schedule{
    width: 440px;
}
.schedule{
	width: 100%;
}
.schedule input{
	text-align: center;
}
.scheduleTeam{
	width: 25%;
}
.listNum{
	display: inline-block;
	width: 15px;
}
.user-rank-wrap {
    width: 100%;
    height: 321px;
    background-color: antiquewhite;
    resize: none;
    padding: 10px;
}

.user-rank-wrap > ul {
	height: 40px;
	line-height: 40px;
	background-color: rgb(241, 215, 181); 
	color: white;
}
.user-rank-wrap > ul > li {
	display: inline-block;
	text-align: center;
	
}
.user-rank-wrap > ul > li:nth-child(1) {
	width: 80px;
}
.user-rank-wrap > ul > li:nth-child(2) {
	width: 140px;
}
.user-rank-wrap > ul > li:nth-child(3) {
	width: 110px;
}
.user-rank-wrap > ul > li:nth-child(4) {
	width: 70px;
}
.user-rank-wrap > .rankBox {
	width: 100%;
	max-height: 260px;
	overflow-y: auto;
}
.user-rank-wrap > .rankBox > .main-ranker-user {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 10px;
    height: 40px;
}
.main-ranker-user > img {
    display: block;
    width: 20%;
}
.main-ranker-user > p {
    display: block;
    width: 40%;
    font-size: 1.2rem;
}
.main-ranker-user > p:nth-child(1) {
    text-align: left;
}
.user-rank-wrap > .rankBox > .main-ranker-user > input {
	background-color: white;
}

.podium-wrap{
    width: 100%;
    height: 321px;
    background-color: antiquewhite;
    overflow-y: auto;
    overflow-x: none;
    resize: none;
    padding: 10px;
}
#podium-background{
    width: 100%;
    height: 100%;
    background-image: url(../img/podium.jpg);
    padding-top: 60px;
    position: relative;
    overflow: hidden;
}
.star {
    position: absolute;
    top: -10px;
    width: 3px;
    height: 3px;
    background: gold;
    border-radius: 50%;
    animation: fall linear infinite, twinkle 1s infinite;
}

@keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
}
@keyframes twinkle {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }

.nametag{
    width: 350px;
    margin: 0 auto;
    position: relative;
}
.podium-nick{
    font-size: 35px; 
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #FFFF00, 0 0 82px #FFFF00, 0 0 92px #FFFF00, 0 0 102px #FFFF00, 0 0 151px #FFFF00;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    text-align: center;
    line-height: 100px;
}

/* 공통 */
.tab {
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
}
.tabnav, .tabnav2, .tabnav3 {
    width:100%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    overflow: hidden;
}
.tabnav li {
    display: inline-block;  
    width: 140px;
    height:46px; 
    text-align:center; 
}
.tabnav2 li{
    display: inline-block;  
    width: 33.3333%;
    height:46px; 
    text-align:center; 
}
.tabnav3 li
{
    display: inline-block;  
    width: 50%;
    height:46px; 
    text-align:center; 
}
.tabnav li a:before,
.tabnav2 li a:before,
.tabnav3 li a:before
{
    content:"";
    position:absolute; 
    left:0; top:0px; 
    width:100%; height:3px; 
}
.tabnav li a,
.tabnav3 li a,
.tabnav2 li a
{ 
    position:relative; 
    display:block; 
    background: antiquewhite; 
    color: #000; 
    padding:0 30px; 
    line-height:46px; 
    text-decoration:none; 
    font-size: 1.2rem;
}
.tabnav li a:hover,
.tabnav li a.active,
.tabnav2 li a:hover,
.tabnav2 li a.active,
.tabnav3 li a:hover,
.tabnav3 li a.active{
    background:rgb(241, 215, 181); 
    color:white; 
    font-weight: 600;
}
.main-box .tabcontent, .main-box .tabcontent2, .main-box .tabcontent3 {
    padding: 20px; 
    max-height: 250px;
    min-height: 250px;
    background-color: white;
    overflow-y: auto;
    overflow-x: none;
    resize: none;
}
.main-box .tabcontent > div, .main-box .tabcontent2 > div, .main-box .tabcontent3 > div {
    overflow-y: auto;
    overflow-x: none;
    resize: none;
    margin: 2px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sport-rank .tabcontent2 .team-rank > span,
.sport-rank .tabcontent2 .team-rank > input {
    display: inline-block;
    font-size: 2rem;
    background-color: none;
    outline: none;
    width: 60px;
    text-align: center;
}
.sport-rank .tabcontent2 .team-rank > input:last-child {
    width: 90px;
}
.main-user-rank .user-rank-wrap {
    overflow-x: none;
    overflow-y: auto;
    resize: none;
    margin: 2px auto;
}
.main-user-rank .user-rank-wrap .rankBox .main-ranker-user{

    width: 100%;
}
.main-user-rank .user-rank-wrap .rankBox .main-ranker-user > span,
.main-user-rank .user-rank-wrap .rankBox .main-ranker-user > input {
    background-color: none;
    outline: none;
    width: 60px;
    text-align: center;
}
.main-user-rank > .user-rank-wrap > .rankBox > .main-ranker-user > .grade {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/grade.png);
    background-repeat: no-repeat;
    background-position: 5px 0;
    text-indent: -999px;
    font-size: 0;
}