@import url(default.css);
.white-wrap {
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.white-background{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
    opacity: 0.4;
}
.myPage-wrap {
    position:absolute;
    top: 25px;
    left: 400px;
    margin: 0 auto;
    background-color: rgb(241, 215, 181);
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.myPage-box {
    margin: 10px auto;
    width: 490px;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.myPage-box > div {
    overflow: hidden;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.myPage-box div .left {
    font-size: 20px;
    float: left;
    text-align: left;
    width: 100px;
    border-right: 1px solid #777; 
}
.myPage-box div .right {
    font-size: 20px;
    width: 390px;
}
.myPage-box div input {
    font-size: 20px;
    color: black;
}
.myPage-box div input[disabled] {
    background-color: rgb(0,0,0,0);
}
.myPage-box div:nth-child(4) {
    overflow: hidden;
}
.myPage-box div:nth-child(4) input,
.myPage-box div:nth-child(4) button {
    float: left;
}
.myPage-box div:nth-child(4) button {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.myPage-box .user-grade {
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100px;
}
.myPage-box .user-grade > .grade-id {
    display: block;
    width: 30px;
    line-height: 40px;
    text-align: center;
}
.myPage-box .user-grade > .grade{
    float: right;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../img/grade.png);
    background-repeat: no-repeat;
    text-indent: -999px;
}
.myPage-box button:hover {
    background-color: #666666;
}
.pointBtn, .nick-btn{
	height: 26px;
	min-width: 35px;
	vertical-align: middle;
}
.exitBtn:hover{
	color: red;
	text-decoration: underline;
}

#nick {
	width: 250px;
	text-align: center;
	margin-left: 72px;
}

.myPage-box .right{
	   width: 100%;
   text-align: center;
}





