@import url(default.css);
.wrap {
    background-color: white;
    border-radius: 10px;
    width: 890px;
    position:relative;
    margin: 0 auto;
}

.box {
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-left: 200px;
    margin-top: 50px;
    width: 490px;
    height: 400px;
    overflow: hidden;
    font-family: 'GmarketSansMedium';
}
.box tr td input {
    margin-left: 100px;
    background-color: white;
}
.box tr td > .grade1 {
    position: absolute;
    width: 35px; 
    border-radius: 10px;
    bottom: 230px;
    left: 490px;
}
.box tr td .allgrade {
    /*  */
    position: absolute;
    display: none;
    width: 100px;
    left: 300px;
    top: 200px;
    margin-left: 250px;
}
.box tr td .grade1:active + .allgrade {
    display: inline-block;
}
.change-nick {
    display: block;
}

.wrap > .btn {
    margin-left: 200px;
}

/* ====mypage_modify==== */
.wrap .mod_box {
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-left: 200px;
    width: 490px;
    height: 100px;
    overflow: hidden;
    font-family: 'GmarketSansMedium';
}
.wrap .check {
    width: 60px;
    font-size: 13px;
    color: black;
    /* border: 1px solid black; */
    background-color: #e7e6e6;
    border-radius: 5px;
}

.save {
    /* border: 1px solid green; */
    margin-left: 100px;
    margin-top: 50px;
    width: 490px;
    text-align: center;
}
.save .btn {
    font-size: 15px;
    width: 100px;
}














