@import url(default.css);

.pointList-wrap{
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.white-background{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    opacity: 0.4;
}

.pointList-box {
    position: absolute;
    top: 15px;
    left: 300px;
    width: 800px;
    background-color: rgb(241, 215, 181);
    border-radius: 10px;
    height: 600px;
}
.top {
    width: 100%;
    height: 150px;
    margin: 0 0 10px 0;
}
.top .top-title {
    height: 30%;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}
.top .top-bottom {
    height: 70%;
    font-size: 60px;
    text-align: center;
    border-bottom: 2px solid #f7f7f7;
}

.list > ul > select {
    width: 90px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
}



.tab-content {overflow-y: auto;}
.tab-content .tab-pane {
    margin: 20px 50px 0 20px;
    height: 360px;
}
.tab-content tr {
    margin: 20px;
    display: flex;    
}
.tab-content tr td {
    text-align: center;
    vertical-align: top;
}
.tab-content tr td input {
    background-color: white;
}
.tab-content .s {
    color: green;
}
.tab-content .f {
    color: red;
}


.wrap > .btn {
    font-size: 13px;
    width: 100px;
    margin-top: 35px;
    margin-left: 370px;
}
.tab-pane .user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    font-size: 20px;
}
.tab-pane .user > input {
    display: block;
    text-align: center;
}
.tab-pane .user > .p-date {
    width: 46%;
}
.tab-pane .user > .p-team {
    width: 24%;
}
.tab-pane .user > .p-point {
    width: 30%;
}




