@import url(default.css);

.overlay{
   display:none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.6);
   animation: fadeIn 1s ease-in-out;
   z-index: 100;
}
.overlay > .imglay {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.overlay > .imglay > img {
   width: 400px;
   height:400px;
}

@keyframes fadeIn {
     from{
        opacity: 0;
     }to{
        opacity: 1;
     }
}



.spototo-box {
   margin:0 auto;
    width: 1400px;
    min-height: 800px;
    background-color: white;
    text-align: center;
    padding: 50px;
}

/* 축/야/농 메뉴 */

.spototo-box > .miniMenu{
   width: 110px;
   height: 50px;
   overflow: hidden;
   font-size: 20px;
}
.spototo-box > .miniMenu > ul {
   width: 450px;
   height: 50px;
}
.spototo-box > .miniMenu > ul > li {
   display: inline-block;
   width: 32%;
   height:50px;
   line-height: 50px;
   text-align: center;
}
.spototo-box > .miniMenu:hover {
   width: 450px;
   font-size:30px;
   transition: 0.5s ease-in-out; 
}

/* --------------------------- */

.spototo-match {
    margin: 20px auto;
    width: 1300px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #999;
    height: 70px;
    transition: height 0.3s linear;
}
.spototo-match:hover {
    height: 210px;
}
.spototo-match:hover > .spototo-basic > img {
    transform: rotate(180deg);
}

.spototo-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.spototo-basic > .match-time {
    width: 20%;
}
.spototo-basic > .match {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.spototo-basic > img {
    width: 10%;
    transition: 0.3s linear;
}
.match > div {
    width: 33.3333%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    line-height: 50px;
    text-align: center;
}
.match > div > div {
    text-align: center;
    align-items: center;
}
.match > .spototo-a {
    background-color: rgb(16, 92, 16);
    overflow: hidden;
    border-radius: 0px;
    justify-content: flex-start;
}
.match > .spototo-a > div {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}
.match > .spototo-a > div > p {
    float: left;
    text-align: left;
    margin-left: 10px;
}
.match > .spototo-a > div > img {
    float: left;
}
.match > div > div > img {
    display: block;
    width: 30%;
}
.match > .spototo-b {
    background-color: rgb(151,31,31);
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 0px;
}
.match > .spototo-b > div {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}
.match > .spototo-b > div > p {
    float: right;
    text-align: right;
    margin-right: 10px;
}
.match > .spototo-b > div > img {
    float: right;
}
.match > .spototo-d {
    background-color: gray;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
}
.spototo-match > .details {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.details > .detail-text {
    width: 20%;
    text-align: left;
    padding-left: 30px;
}
.details > .detail-btn {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.detail-btn > .match-btns,
.detail-btn > .user-point
 {
    width: 87%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0;
}
.detail-btn > .match-btns > button {
    width: 25%;
    font-size: 1.2rem;
    color: white;
}
.detail-btn > .match-btns > button:nth-child(1){
   background-color: rgb(16, 92, 16); 
}
.detail-btn > .match-btns > button:nth-child(2){
   background-color: gray;
}
.detail-btn > .match-btns > button:nth-child(3){
   background-color: rgb(151,31,31);
}
.detail-btn > .match-btns > button:hover {
    background-color: black;
    cursor: pointer;
}
.detail-btn > .user-point > input {
    font-size: 1.2rem;
    border: 1px solid black;
    color: black;
    text-align: center;
    width: 35%;
}
.detail-btn > .user-point > #toto-ok{
   width: 50px;
   border-radius: 50px;
}
.detail-btn > .user-point > #toto-ok:hover {
   cursor: pointer;
}