@import url(default.css);




.main { 
    /* border: 1px solid black;  */
    background-color: antiquewhite;
    height: 600px;
    margin: 0 auto;
    display: flex; /*블록 컨테이너로 설정*/
    justify-content: center;
}

.rankWrap {
    /* border: 1px solid yellow; */
    background-color: rgb(255,255,255,0.7);
    width: 800px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.rankWrap .boxtitle {
    /* border: 1px solid green; */
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-top: 20px;
    display: inline;
    text-align: center;
    font-family: 'KCC-Hanbit';
    font-weight: 600;
}
.rankWrap .boxtitle > p {
    display: inline-block;
    /* border: 1px solid red; */
    height: 100%;
    font-size: 30px;
    width: 32%;
}
.rankWrap .boxtitle > p:nth-child(1){width: 10%;}
.rankWrap .boxtitle > p:nth-child(3){width: 20%;}


.rank-box {
    /* border: 1px solid blue; */
    margin: 50px 20px 0px 20px;
    width: 760px;
    height: 90%;
    overflow: hidden;
}
.rank-box .content {
    /* border: 1px solid black; */
    height: 50px;
    margin-bottom: 20px;
    font-family: 'KCC-Hanbit';
}

.rank-box .content > p {
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 10%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'KCC-Hanbit';
}
.rank-box .content .user {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    background-color: #fbfbfb;
    border-radius: 10px;
    height: 50px;
    width: 84%;
}
.rank-box .content .user > input {
    background-color: #fbfbfb;
    color: black;
    width: 32.4%;
    font-size: 20px;
    font-family: 'KCC-Hanbit';
}
.rank-box .content .user > input:nth-child(1) {
    text-align: left;
}
.rank-box .content .user > input:nth-child(2) {
    text-align: center;
}
.rank-box .content .user > input:nth-child(3) {
    text-align: right;
}


.rankWrap .page {
    /* border: 1px solid green; */
    width: 800px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
}
.rankWrap .page > a {
    display: inline-block;
    color: black;
    width: 30px; 
    font-size: 30px;
}
.rankWrap .page > a:nth-child(1),
.rankWrap .page > a:nth-child(7){
    width: 60px;
    font-size: 20px;
}

.rankWrap .page > a:nth-child(2),
.rankWrap .page > a:nth-child(6){
    border: none;
    font-weight: bold;
}
.rankWrap .page > .num-on {
    font-weight: bold;
}


















